body{
    background-size: cover;
}
.heading{
    font-size: 30px;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 20px;
    color:rgb(255, 251, 0) ;
}

#songs{
    font-size: 34px;
    background-color: rgb(252, 5, 133);
    color: rgb(9, 255, 0);
    margin-left: 700px;
}